<!-- 
	This page is the template foundation that runs for every page and helps dynamically display content.

	Code citation:
		Dr. Michael Curry. 2022. "Step 3 - Integrating a Templating Engine (Handlebars)". [Source code]
		https://github.com/osu-cs340-ecampus/nodejs-starter-app/. URL
-->

<!-- Lines 10-28, 22-27 (Curry) -->
<html>

	<head>

		<!-- Set to a common encoding. -->
		<meta charset="utf-8" />

		<!-- Display the title for the user's browser tab. -->
		<title>Research Archive</title>

		<!-- Reference an external CSS file for styling -->
		<link rel="stylesheet" href="/css/styles.css" />

	</head>

	<body>
		{{{body}}}
	</body>
<footer>Tested in Google Chrome</footer>
</html>